@model string
<div style="display: flex;justify-content: center;align-items: center;">
<p1>HI</p1>
<br />
<img src="~/Images/техШоколадки.png" style="width:300px;height=150px;"/>
<br />
<p2>problem: @Model</p2>
</div>
