@model List<Chat>
@using SocialNetwork.Models.DatabaseModels;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
@{
    string id = Context.Request.RouteValues["id"].ToString();
}
<partial name="~/Views/Shared/_Header.cshtml" />
@foreach(Chat chat in Model)
{
    <form asp-controller="Chat" asp-action="Chat" asp-route-IdChat="@chat.Id" asp-route-Id="@id">
        <div>
            <button type="submit">
                <label>
                    @chat.Name
                </label>
            </button>
        </div>
    </form>
}